* {
    font-family: Verdana;
}
  
header {
    padding-bottom: 20px;
    padding-top: 10px;
    background-color:  #FCF596;
    border-radius: 20px;
}
/* navigation bar */

#site-header ul {
    list-style-type: none;
    text-align: center;  
    margin: 0;
    padding: 0;
}
#site-header li {
    display: inline-block;
}

#site-header li a {
    display: block;
    color: #FF4545;
    padding: 14px 16px;
    text-decoration: none;
}

#site-header  li a:hover {
    text-decoration: underline;
    color: #00ADB5;
}

/* navigation bar */

/* body */

#Heading {
    text-align: center;
}

/* body */

/* icon-link */
.fa-facebook {
    color: blue;
    font-size: 30px;
    text-decoration: none;
    text-align: right;text-align: center; 
    width: 100%;
}


/* icon-link */